/* 超小屏幕（手机，小于 768px） */
html,body{height:100%;overflow:hidden;}
html{font-size:14px;}
.container-fluid{max-width:640px;margin:0 auto;}
.sign-in-top{margin:1rem 0;}
.sign-in-top div{margin-bottom:1rem;}
.card-box{width: 20%;height :6rem;float: left;margin: 2.5%;position: relative;
-webkit-transform: rotateY(0deg);-webkit-transform-style: preserve-3d;transition: all 0.5s ease-in;
transform-origin: 50% 50%;}
.card-box:nth-child(4n){margin:2.5% 0 2.5% 2.5%;}
.card-box div{width:100%;position: absolute;left: 0px;top: 0px;-webkit-backface-visibility: hidden;}
.card-box div img{width:100%;height:100%;}
.side-front {-webkit-transform: rotateY(0deg);}
.side-back {-webkit-transform: rotateY(180deg);}
#school-list{width:10rem;height:2rem;border:1px #ccc solid;}
.msg{height: 2rem;line-height: 2rem;}
.msg span{font-size: 1.2rem;margin:0 5px;}
.carousel{width: 90%;margin:0 auto;}
#heng .left{position:absolute;left:-20px;top:50%;margin-top:-8px;cursor:pointer;}
#heng .right{position:absolute;right:-20px;top:50%;margin-top:-8px;cursor:pointer;}
#heng .up{position:absolute;left:50%;top:-20px;margin-left:-7px;cursor:pointer;}
#heng .down{position:absolute;left:50%;bottom:-20px;margin-left:-7px;cursor: pointer;}
#sign-btn{text-align: center;margin-top:2rem;cursor:pointer;}
#sign-btn button{width: 8rem;height:3rem;}

@media (min-width: 420px) {
    html,body{font-size: 16px;}
    .card-box{height:6rem;}
    #sign-btn button{width: 10rem;height:3rem;}
}